*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    size: 80%; 
    min-height: 100px;
    margin: auto;
    border: 2px solid black;
}

.container .logo-menu{
    size: 100%;
    background-color: #FFE6E6;
    min-height: 60px;

}
.logo-menu .companyName{
    width: 40%;
    min-height: 60px;
    background-color: #FFE6E6;
}